# 1. List

In [1]:
classmates = ['Michael', 'Bob', 'Tracy']
classmates

['Michael', 'Bob', 'Tracy']

In [2]:
len(classmates)

3

In [3]:
print(classmates[0])
print(classmates[1])
print(classmates[2])
print(classmates[-1])
print(classmates[-2])
print(classmates[-3])

Michael
Bob
Tracy
Tracy
Bob
Michael

In [4]:
classmates.append('Adam')
classmates

['Michael', 'Bob', 'Tracy', 'Adam']

In [5]:
classmates.insert(1, 'Jack')
classmates

['Michael', 'Jack', 'Bob', 'Tracy', 'Adam']

In [6]:
print(classmates.pop())
classmates

Adam

['Michael', 'Jack', 'Bob', 'Tracy']

In [7]:
print(classmates.pop(1))
classmates

Jack

['Michael', 'Bob', 'Tracy']

In [8]:
classmates[1] = 'Sarah'
classmates

['Michael', 'Sarah', 'Tracy']

In [9]:
L = ['Apple', 123, True]
L

['Apple', 123, True]

In [10]:
s = ['python', 'java', ['asp', 'php'], 'scheme']
len(s)

4

In [11]:
p = ['asp', 'php']
s = ['python', 'java', p, 'scheme']
s

['python', 'java', ['asp', 'php'], 'scheme']

In [12]:
L = []
len(L)

0

# 2.Tuple
* tuple一旦初始化就不能修改:

In [14]:
classmates = ('Michael', 'Bob', 'Tracy')
classmates

('Michael', 'Bob', 'Tracy')

* tuple的陷阱：

In [19]:
# 当你定义一个tuple时，在定义的时候，tuple的元素就必须被确定下来:
t = (1, 2) 
print(t)

(1, 2)

In [20]:
# 如果要定义一个空的tuple，可以写成()：
t = ()
t

()

In [22]:
# 定义的不是tuple，是1这个数！这是因为括号()既可以表示tuple，又可以表示数学公式中的小括号，这就产生了歧义，
# 因此，Python规定，这种情况下，按小括号进行计算，计算结果自然是1。
t = (1)
t

1

In [23]:
# 只有1个元素的tuple定义时必须加一个逗号,，来消除歧义。
# Python在显示只有1个元素的tuple时，也会加一个逗号,，以免你误解成数学计算意义上的括号。
t = (1,)
t

(1,)

* “可变的”tuple：

In [26]:
# 变的不是tuple的元素，而是list的元素。tuple一开始指向的list并没有改成别的list.
# 所以，tuple所谓的“不变”是说，tuple的每个元素，指向永远不变。
t = ('a', 'b', ['A', 'B'])
t[2][0] = 'X'
t[2][1] = 'Y'
t

('a', 'b', ['X', 'Y'])